@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn-primary {
    @apply inline-flex cursor-pointer items-center rounded-md bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 disabled:cursor-not-allowed disabled:opacity-75;
  }
  .hyperlink {
    @apply text-blue-600 no-underline dark:text-blue-300;
  }
}

.Verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.verify-button {
  font-size: 1.5rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.input-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 800px;
}

.input-fields > div {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

input[type="text"],
#results {
  width: 100%;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

#results {
  width: calc(80 * 1ch);
}
